<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefa</title>
    <!-- Incluindo o CSS do Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Adicionar Nova Tarefa</h1>
        <form action="/adicionar-tarefa" method="post">
            <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                    <input class="input" type="text" name="descricao" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Data de Início</label>
                <div class="control">
                    <input class="input" type="datetime-local" name="dataInicio" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Data de Limite</label>
                <div class="control">
                    <input class="input" type="datetime-local" name="dataLimite" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Concluída</label>
                <div class="control">
                    <input type="checkbox" name="concluida">
                </div>
            </div>
            <div class="field">
                <label class="label">ID do Usuário</label>
                <div class="control">
                    <input class="input" type="number" name="idusuario" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
