<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Tarefas</title>
    <!-- Incluindo o CSS do Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">

    <style>
        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .completed-task {
            background-color: #d4edda; /* Verde claro */
        }
    </style>

</head>
<body>
<section class="section">
    <div class="container">
        <div class="title-container">
            <h1 class="title">Tarefas</h1>
            <a href="/tarefas" class="button is-primary">Adicionar Tarefa</a>
        </div>

        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Data de Início</th>
                <th>Data de Limite</th>
                <th>Concluída</th>
                <th>ID do Usuário</th>
            </tr>
            </thead>
            <tbody>
            <!-- Exemplo de linha de dados; substitua com dados reais -->
            <tr th:each="tarefas : ${tarefas}" th:classappend="${tarefas.concluida ? 'completed-task' : ''}">
                <td th:text="${tarefas.id}"></td>
                <td th:text="${tarefas.descricao}"></td>
                <td th:text="${#temporals.format(tarefas.dataInicio, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(tarefas.dataLimite, 'dd/MM/yyyy HH:mm')}"></td>
                <td>
                    <form th:action="@{/atualizar-tarefa}" method="post">
                        <input type="hidden" name="id" th:value="${tarefas.id}" />
                        <input type="checkbox" name="concluida" th:checked="${tarefas.concluida}" value="true"/>
                        <button type="submit" class="button is-small is-primary">Salvar</button>
                    </form>
                </td>
                <td th:text="${tarefas.usuario != null ? tarefas.usuario.id : 'N/A'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
